<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">İRŞAT PROJE</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/home" class="nav-link">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a href="/article" class="nav-link">Makaleler</a>
            </li>
        </ul>
    </div>
</nav>