@model List<ArticleModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Makale Listesi</h1>

    <hr>
    @foreach(var bilgi in Model)
    {
        <div id="makale_@bilgi.Id">
            <h3>ID: @bilgi.Id 
                <br>Başlık: @bilgi.Header
                <br>Açıklama: @bilgi.Description</h3>
            <img src="~/img/@bilgi.Image" height="150px" width="300px">
            <hr>
        </div>
    }
    <br>
    <a href="../article">Geri Dön</a>
</body>
</html>